import { forwardRef, PropsWithChildren } from 'react'

type {{capitalize componentName}}Props = PropsWithChildren & {}

const {{capitalize componentName}} = forwardRef<HTMLDivElement, {{capitalize componentName}}Props>(
  ({ children, ...props }, ref) => {
    return (
      <div ref={ref} {...props}>
        {children}
      </div>
    )
  },
)


export default {{capitalize componentName}}
